[Unit]
Description=Print Calculators Quadlet

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/sudo-kraken/3d-print-calcs:latest
Pull=newer
ContainerName=print-calcs
HostName=print-calcs

PublishPort=6969:6969

# Branding
Environment=APP_BRAND_NAME=
Environment=APP_LOGO_URL=
Environment=APP_FAVICON_URL=
      # Server
Environment=PORT=
# Business policy
Environment=APP_DEFAULT_PROFIT_MARGIN=
